In [3]:
import pandas as pd
from utils import create_connection

In [4]:
conn = create_connection('data/airbnb.db',connection_type = 'sqlite3')

In [5]:
tables_df = pd.read_sql("""SELECT name FROM sqlite_master  WHERE type='table';""",con=conn)
tables_df

              name
0      airbnb_room
1  airbnb_calendar

In [11]:
airbnb_room_df = pd.read_sql("""select * 
                             from airbnb_room 
                             where True
                             --and id = '18086628'
                             
                             order by last_modified desc""",con=conn)

In [12]:
airbnb_room_df

,id,create_date,last_modified,number_updates,room_url
0,634438216271572667,2024-06-12 07:32:50,2024-08-26 15:49:35,15,www.airbnb.com/rooms/634438216271572667?adults...
1,31335624,2024-06-12 07:32:50,2024-08-26 15:49:35,16,www.airbnb.com/rooms/31335624?adults=2&childre...
2,817196070864448954,2024-06-12 07:32:50,2024-08-26 15:49:35,15,www.airbnb.com/rooms/817196070864448954?adults...
3,53768543,2024-06-12 07:32:50,2024-08-26 15:49:35,13,www.airbnb.com/rooms/53768543?adults=2&childre...
4,27096532,2024-06-12 07:32:50,2024-08-26 15:49:35,5,www.airbnb.com/rooms/27096532?adults=2&childre...
...,...,...,...,...,...
1893,759960952218893509,2024-08-26 15:49:35,None,0,www.airbnb.com/rooms/759960952218893509?adults...
1894,1062037501926291485,2024-08-26 15:49:35,None,0,www.airbnb.com/rooms/1062037501926291485?adult...
1895,24482113,2024-08-26 15:49:35,None,0,www.airbnb.com/rooms/24482113?adults=2&childre...
1896,50499804,2024-08-26 15:49:35,None,0,www.airbnb.com/rooms/50499804?adults=2&childre...
1897,1144944626902829343,2024-08-26 15:49:35,None,0,www.airbnb.com/rooms/1144944626902829343?adult...

In [8]:
airbnb_room_df

,id,create_date,last_modified,number_updates,room_url
0,18086628,2024-06-12 07:32:51,2024-08-26 15:35:35,15,www.airbnb.com/rooms/18086628?adults=2&childre...