In [4]:
import pandas as pd
from utils import create_connection

In [10]:
conn = create_connection('data/airbnb.db',connection_type = 'sqlite3')

In [15]:
tables_df = pd.read_sql("""SELECT name FROM sqlite_master  WHERE type='table';""",con=conn)
tables_df

          name
0  airbnb_room

In [37]:
airbnb_room_df = pd.read_sql("""select * 
                             from airbnb_room 
                             where id = '18086628'
                             
                             order by last_modified desc""",con=conn)

In [38]:
airbnb_room_df

,id,create_date,last_modified,number_updates,room_url
0,18086628,2024-06-12 07:32:51,2024-06-12 20:57:55,11,www.airbnb.com/rooms/18086628?adults=2&childre...

In [32]:
airbnb_room_df

,id,create_date,last_modified,number_updates,room_url
0,18086628,2024-06-12 07:32:51,2024-06-12 20:39:08,6,www.airbnb.com/rooms/18086628?adults=2&childre...